[Unit]
Description=Copy user rtmp nginx.conf
ConditionPathExists=/boot/nginx.conf
Before=nginx.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mv /boot/nginx.conf /etc/nginx/nginx.conf

[Install]
WantedBy=multi-user.target